repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black --check --config pyproject.toml
        language: system
        types: [python]
        pass_filenames: false

      - id: flake8
        name: flake8
        entry: flake8 --config pyproject.toml
        language: system
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: mypy --config pyproject.toml
        language: system
        types: [ python ]
        pass_filenames: false
